@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none; }

table.dataTable {
  @apply text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  text-align: center !important;
}

table.dataTable thead {
  @apply uppercase text-pretty font-bold text-slate-700 bg-slate-50 dark:bg-slate-900 dark:text-slate-300;
}

table.dataTable tbody tr {
  @apply bg-slate-50 border-b dark:text-slate-400 dark:bg-slate-800 dark:border-slate-700 hover:bg-slate-50 dark:hover:bg-slate-600;
}

/* El contenedor donde se encuentra el cuadro de selección */
.select2-container {
	@apply relative box-border align-middle inline-block m-0 mb-2;
}

/* El cuadro de selección en sí */
.select2-container .select2-selection--single {
  @apply box-border cursor-pointer block select-none shadow border rounded;
}

/* DIV dentro del cuadro de selección con texto, botón de borrar y flecha hacia abajo*/
.select2-container .select2-selection--single .select2-selection__rendered {
  @apply block h-6 pl-1 pr-6 truncate;
}

/* El DIV donde se encuentra la X para borrar la opción elegida */
.select2-container .select2-selection--single .select2-selection__clear {
  @apply relative -m-1;
}

.select2-container .select2-selection--multiple {
  @apply box-border overflow-hidden h-4 cursor-pointer block select-none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  @apply inline-block pl-2 truncate whitespace-nowrap;
}

/* Cuadro de búsqueda*/
/* .select2-container .select2-search--inline {
  @apply float-left;
} */

.select2-container .select2-search--inline .select2-search__field {
  @apply box-border border dark:border-slate-600 pl-1 my-1 w-full text-base;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  @apply appearance-none;
}

/* Área desplegable después de hacer clic en la flecha hacia abajo */
.select2-dropdown {
  @apply absolute block w-auto box-border bg-slate-50 dark:bg-slate-700 border-solid border border-slate-200 z-50 float-left;
}

.select2-results {
  @apply block text-black dark:text-slate-300;
}

.select2-results__options {
  @apply list-none m-0 p-0;
}

/* Las filas con resultados que se ven después del menú desplegable.
Aumente p-1 a p-2 para tener más espacio entre los resultados */
.select2-results__option {
  @apply p-1 select-none;
}

.select2-results__option[aria-selected] {
  @apply cursor-pointer;
}

/* Se abre el contenedor del menú desplegable y se muestran los resultados*/
.select2-container--open .select2-dropdown {
  @apply mt-3 left-0;
}

/* Los bordes izquierdo y derecho de las filas de opciones */
.select2-container--open .select2-dropdown--above {
  @apply rounded border-slate-400 dark:border-slate-700 shadow;
}

.select2-container--open .select2-dropdown--below {
  @apply rounded border-slate-400 dark:border-slate-700 shadow;
}

/* Elemento de menú desplegable de búsqueda*/
.select2-search--dropdown {
  @apply block p-2;
}

  /* Cuadro de búsqueda en el que puedes ingresar texto*/
.select2-search--dropdown .select2-search__field {
  @apply h-10 p-1 bg-slate-50 dark:bg-slate-500 box-border rounded border-2 border-blue-300 dark:border-slate-700 dark:text-slate-200 outline-none;
  width: 100%;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  @apply appearance-none;
}

.select2-search--dropdown.select2-search--hide {
  @apply hidden;
}

.select2-close-mask {
	@apply block w-12 min-w-full m-0 p-0;
	border: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Configuración de plantilla predeterminada */
/* Barra de selección: propia */
.select2-container--default .select2-selection--single {
	@apply h-10 bg-slate-50 dark:bg-slate-700 border border-solid dark:border-slate-700; 
}

/* Barra de selección: color del texto del elemento seleccionado de los resultados */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  @apply text-slate-700 dark:text-slate-200;
}

/* Barra de selección - Botón Borrar (Si esta propiedad está habilitada) */
.select2-container--default .select2-selection--single .select2-selection__clear {
  @apply cursor-pointer float-right text-red-700;
}

/* Barra de selección: color del texto del marcador de posición antes de la selección (Si esta propiedad está habilitada) */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  @apply text-slate-600 dark:text-slate-300;
}

/* Barra de selección: DIV donde se encuentra la flecha que apunta hacia abajo*/
.select2-container--default .select2-selection--single .select2-selection__arrow {
  @apply absolute right-0 top-0 h-10 w-8;
}

/* La flecha es un triángulo CSS que no existe en Tailwind sin un paquete */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  @apply absolute border-solid h-0 w-0 border-t-4 border-r-4 border-b-0 border-l-4;
  border-color: #000 transparent transparent transparent;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  top: 50%;
}

/* Barra de selección - Botón de limpieza - Si esta propiedad está habilitada de derecha a izquierda*/
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
	@apply float-left ml-4;
}

/* Ubicación de la flecha desplegable cuando está en modo rtl */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	@apply left-0 right-auto;
}

/* Selección por propiedad deshabilitada*/
.select2-container--default.select2-container--disabled .select2-selection--single {
	@apply cursor-default bg-slate-300;
}

/* Barra de selección: oculta la cruz transparente cuando la barra de selección está deshabilitada*/
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  @apply hidden;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
	@apply p-1 min-h-full h-full border border-solid dark:border-slate-700 rounded shadow bg-slate-50 dark:bg-slate-700; 
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	@apply box-border list-none m-0 px-1 min-w-full;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  @apply list-none;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  @apply float-right cursor-pointer mt-1 mr-2 p-1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  @apply bg-slate-50 dark:bg-slate-700 text-slate-700 dark:text-slate-200 border cursor-default rounded my-1 mr-1 px-2 float-left;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  @apply text-slate-700 dark:text-slate-200 dark:focus:bg-red-500 cursor-pointer inline-block mr-1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  @apply text-slate-700 dark:text-slate-50 dark:bg-slate-500;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  @apply border-2 outline-none;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
	@apply hidden;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
	@apply bg-slate-300 border-2 dark:border-slate-700 shadow rounded float-left cursor-default mt-1 mr-1 px-1;
}

/* El borde del cuadro de texto de búsqueda */
.select2-container--default .select2-search--dropdown .select2-search__field {
	@apply border-solid;
}

/* Cuadro de texto de búsqueda */
.select2-container--default .select2-search--inline .select2-search__field {
  @apply border-none bg-transparent outline-none shadow-none select-text;
}

/* Altura de la zona desplegable donde las opciones o los resultados son visibles */
.select2-container--default .select2-results > .select2-results__options {
	@apply h-full max-h-32 overflow-y-auto;
}

.select2-container--default .select2-results__option[role=group] {
	@apply p-0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
	@apply text-slate-700; 
}

/* El color de la fila de la opción ya seleccionada */
.select2-container--default .select2-results__option[aria-selected=true] {
	@apply bg-slate-300 dark:text-slate-700;
}

/* Ocultar elementos seleccionados */
.select2-results__option--selected {
	@apply hidden;
}

.select2-container--default .select2-results__option .select2-results__option {
  @apply pl-4;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  @apply pl-0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

/* Color de fondo y color de texto de las filas de opciones cuando la selección está abierta */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  @apply bg-slate-100 dark:bg-slate-500 text-slate-700 dark:text-slate-200;
}

.select2-container--default .select2-results__group {
  @apply cursor-default block;
  padding: 6px; 
}